<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>154069195589-n4g73k98kikrpsbsgktaei8g70uime75.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.154069195589-n4g73k98kikrpsbsgktaei8g70uime75</string>
	<key>API_KEY</key>
	<string>AIzaSyCrufhv0Mq_lIGsyQ57bo6yNp29v9i7ov0</string>
	<key>GCM_SENDER_ID</key>
	<string>154069195589</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MAD.Calendar</string>
	<key>PROJECT_ID</key>
	<string>calendar-d9214</string>
	<key>STORAGE_BUCKET</key>
	<string>calendar-d9214.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:154069195589:ios:fa02662e062c4959</string>
	<key>DATABASE_URL</key>
	<string>https://calendar-d9214.firebaseio.com</string>
</dict>
</plist>